* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  height: 1000vh;
  background-color: #f7f8fc;
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  height: 80px;
  width: 100%;
  background-color: #e4e4ec;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px 0 100px;
}

.img-1 {
  margin-top: 10px;
}

nav .logo {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: #000;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

nav ul li a:hover {
  color: white;
  padding-left: 2px;
}

nav .menu-btn i {
  color: #000;
  font-size: 22px;
  cursor: pointer;
  display: none;
}

input[type="checkbox"] {
  display: none;
}

nav ul li button {
  background-color: #fe7200;
  padding: 4px 15px 4px 15px;
  border-radius: 10px;
  gap: 10px;
  border: 2px solid #fe7200;
  cursor: pointer;
  color: white;
  width: 67px;
  height: 39px;
  margin-top: -10px;
}

/* logo */
.logo .row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.container {
  background-color: #eaeaea;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.content-slide {
  max-width: 315px;
  position: relative;
  margin: 2rem 5rem;
}

.imgslide {
  display: none;
}

.container .content-slide img {
  vertical-align: middle;
  width: 315px;
  height: 320px;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 10rem;
  width: 30px;
  color: rgb(255, 254, 244);
  font-weight: bold;
  font-size: 2rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: -0px;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}

.text {
  color: black;
  font-size: 2rem;
  padding: 8px 10px;
  bottom: 0;
  width: 100%;
  text-align: center;
  position: absolute;
}

.content-slide .numberslide {
  color: black;
  font-size: 1.5rem;
  position: absolute;
  top: 0;
  padding: 8px 10px;
}

.page {
  margin: auto;
  position: relative;
  justify-content: center;
  text-align: center;
  margin-top: -2rem;
}

.page .dot {
  cursor: pointer;
  height: 9px;
  width: 9px;
  background-color: #bbb;
  display: inline-block;
  transition: background-color 0.6s ease;
  border-radius: 50%;
}

.page .active,
.page .dot:hover {
  background-color: #717171;
}

.bdg1 {
  display: flex;
  margin-top: 2rem;
}

.bdg2 {
  font-family: "Poppins";
  font-weight: bold;
}

.bdg3 {
  padding: 0 0 0 5rem;
}

.bdg4 {
  margin-top: 1.5rem;
  padding: 0 0rem 0 rem;
  font-weight: bold;
  font-family: "poppins";
}

.bdg4 span {
  font-family: "poppins";
  font-weight: 200;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

/* responsive */
@media screen and (max-width: 800px) {
  .content-slide {
    padding: 8px 50px 12px 50px;
  }

  .next {
    right: 50px;
    border-radius: 3px 0 0 3px;
  }
}
@media (max-width: 1000px) {
  nav {
    padding: 0 40px 0 50px;
  }
}

@media (max-width: 920px) {
  nav .menu-btn i {
    display: block;
  }
  #click:checked ~ .menu-btn i:before {
    content: "\f00d";
  }
  nav ul {
    position: fixed;
    top: 80px;
    left: -100%;
    background: #e4e4ec;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul {
    left: 0;
  }
  nav ul li {
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a {
    margin-left: 0px;
  }
  nav ul li a:hover {
    background: 00;
    color: #fff;
  }
}
